@CHARSET "UTF-8";

*{
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:red;
}
/* top   */
p#top{
	padding:10px 20px;
	font-size:16px;
	font-weight:500;
}

p#top a{
	color:black;
	text-decoration:none;
}

p#top a:hover{
	color:#FF6347;
}

/*  nav  */
nav a{
	text-decoration:none;
	color:black;
	font:18px "MicrosoftYaHei";
	padding-right:20px;
	
}
nav a:hover{
	 color:#FF6347;
	
}



nav{
	margin:10px 0px;
	padding:5px 0px;
	text-align:left;
	width:100%;
	height:60px;
	line-height:60px;
}

nav p#nav_left{
	height:60px;
	width:30%;
	float:left;
	
}

nav p#nav_left img{
	width:90%;
	height:50px;
	padding:5px 15px;
}



nav p#nav_right{
	width:70%;
	height:60px;
	float:right;
	text-align:center;
}

/*  focus  */

div#div_focus{
	
	 width:100%;
	 margin:15px auto;
	 padding:0px 15px;
	 height:600px;

}

div#div_focus img{
	
	 width:100%;
	 height:600px;
	 margin:10px auto;
	 display:block;
}

/*  新闻  */

div#div_news{
	width:90%;
	margin:25px auto;
	height:auto;
}

div#div_news img{
	 border-radius:8px;
}

p#p_newstitle{
	width:100%;
	height:auto;
	text-align:center;
} 

p#p_newstitle span{
	font-size:25px;
	display:inline-block;
	width:200px;
	height:60px;
	line-height:60px;
	/* background:rgb(255,230,0); */
	text-align:center;
}

#tab_newslist{
	margin:15px auto;
	height:auto;
	width:90%;

}
#tab_newslist td:last-child{
	text-align:right;
	width:15%;
}
#tab_newslist td{
	text-align:left;
}

/*  产品  */

div#div_pros{
	width:90%;
	margin:25px auto;
	height:auto;
}

p#p_prostitle{
	width:100%;
	height:auto;
	text-align:center;
} 

p#p_prostitle span{
	font-size:25px;
	display:inline-block;
	width:200px;
	height:60px;
	line-height:60px;
	text-align:center;
}

div#div_proslist{
	margin:15px;
	width:100%;
	height:auto;
}

#div_pro{
    width:30%;
    height:33px;
    float:left;
    margin:1%;

}

img#img_pro{
	    display:block;
	    width:100%;
	    height:300px;
	    border-radius:10px;
		    
}	
span#protit{
	   display:block;
	   height:30px;
	   width:100%;
	   text-align:center;
	   line-height:30px;
	   font:18px "微软雅黑";
	   font-weight:600;
}


/*  bottom  */

div#div_bottom{
	padding-top:50px;
	clear:both;
	width:100%;
	height:300px;
	background:#FFA500;
	color:white;

}

div#div_bottom p{
	width:100%;
	padding:5px 0px;
	text-align:center;
    font-family:"Microsoft YaHei";
    font-size:25px;	
	
}


/* more  */
 .p_more{
      width:100%;
      height:50px;
      line-height:50px;
      text-align:right;
      font-size:20px;
      font-weight:600;
      margin:10px auto;
      clear:both;
 }