


#div_promotion{


    clear:both;
    margin:25px 0px;
    width:100%;
    min-height:500px;
  /*  background: gray;*/
    color:black;


}

#div_promotion h2{

   padding:20px;


}