<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
	 <title>龙兴联泰家具秋季采购会</title>
	 <style>

	 div#content{
         width:90%;
         max-height: 1200px;
         margin:40px auto;

	 }

     img{
     	width:100%;
     }

     h4{
     	margin:50px auto;
     }

     p.detail{

     	text-indent: 2em;
     	font-size:18px;
     }
	 </style>
	
</head>
<body>

<div th:fragment="active1" id="content">
	
<p style="font-size:60px;text-align:center;">龙兴联泰家具秋季采购会(10.26-27)</p>

<h1 class="text-center">买10000家具，送5000家电</h1>
<p><img th:src="@{/static/images/active/201911060.jpg}" alt="" /></p>
<h4><b>时间：</b>10月26-27日</h4>
<h4><b>活动内容：</b></h4>
<h5 style="color:red;"><b>1、300个儿童电话手表免费大派送！</b></h5>
<p class="detail">客户通过微信传播报名，通过转发好友和微信群获得支持率，截止 2019 年 10.25日24:00，排名前300名朋友，26日上午10:00 到场领取手表，送完即止！</p>

<h5 style="color:red;"><b>2、300件蚕丝被或乳胶枕,下定1000元免费送！</b></h5>
<p class="detail">贵宾卡推广期间每张 50 元,10.25日18:00,没有完成售卡5张的,必须收回;活动两天(10.26-27)每张100元,目的为了体现贵宾卡价值,而且避免活动期间看到广告到场客户，没有贵宾卡不能参加活动;而且可以确保,活动两天超出300个礼品！</p>

<h5 style="color:red;"><b>3、300台品牌家电满额疯狂送！（仅限活动2天）</b></h5>
<p class="detail">全场累计消费交款满5000元以上即可参与,全屋家电礼品限时限量,而且满2 万以上家电礼品,都必须是联单2-5个品牌,最低每单1000元以上，才可以领取相应家电组合，数量有限，送完即止！</p>

<p class="detail">交满5000元送艾尔思登破壁营养机一台&nbsp;&nbsp;限交单前100名</p>
<p class="detail">交满1万元送嘉保仕空气净化器一台&nbsp;&nbsp;限交单前 80 名</p>
<p class="detail">交满2万元送空气净化器一台+动感单车一台&nbsp;&nbsp;限交单前50名</p>
<p class="detail">交满2万元送空气净化器一台+动感单车一台&nbsp;&nbsp;限交单前50名（联单2个品牌且有一单最低实付满5000元）</p>
<p class="detail">交满3万元送破壁营养机一台+空气净化器 一台+海尔洗衣机一台&nbsp;&nbsp;限交单前30名（联单3个品牌且每单不低于实付满3000元）
</p>
<p class="detail">交满5万元送破壁营养机一台+空气净化器一台+海尔55寸电视机&nbsp;&nbsp;限交单前20名（联单4个品牌且 每单不低于实付满2000元）
</p>
<p class="detail">交满10万元送破壁营养机一台+超静音跑步机一台+海尔双开门冰箱&nbsp;&nbsp;限交单前10名（联单5个品牌且每单不低于实付满1000元）
</p>

<h5 style="color:red;"><b>4、300个现金免单疯狂送</b></h5>
<p class="detail">现场以红包墙展示，每个红包里面装上现金免单券（10 元、20元、50元、100元,<mark>最高 1个3000 元</mark>）;客户累计消费交满 5000 元，可以抽 1 次，交满 10000 元，抽 2 次，100%中奖；现场抽出，现场兑奖，因为是实付金额，所以希望是抽多少，送多少，抽完即止，300个红包预算！</p>

<h5 style="color:red;"><b>5、18台豪华按摩椅终极大抽奖</b></h5>
<p class="detail">活动 2 天，顾客购物满1000元，获得第一天抽出 8 台按摩椅，第二天抽出 10 台按摩椅，第一天没有抽中的，第二天还有机会参与抽奖；以此激励顾客早买机会更大，促进客户下单！</p>
<p style="width: 100%;height: 150px;"></p>
</div>


</body>
</html>