<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxtljj.mapper.UseripMapper">
  <resultMap id="BaseResultMap" type="com.lxtljj.pojo.Userip">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
  </resultMap>

</mapper>